* {
  margin: 0;
  padding: 0;
}

:root {
  --bright:#E7F6F2;
  --light:#A5C9CA;
  --medium:#395B64;
  --dark:#2C3333;
}
html {
  background-color: var(--medium);
}
body {
  margin: 0;
  font-family: 'Philosopher', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--medium);
  font-size: 17px;
}
div {
  background-color: var(--medium);
  color: var(--bright);
}

p {
  color: var(--bright);
  font-family: 'Philosopher', sans-serif;
  font-size: 20px;
}

.section-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
  padding: 10px;
  background-image: linear-gradient(to right, var(--medium) , var(--light));
}

.header {
  font-family: 'Philosopher', sans-serif;
  font-size: 60px;
  font-style: italic;
  font-weight: bold;
  text-align: left;
  padding: 40px;
  margin: auto;
  color: var(--dark);
  background-image: linear-gradient(to right, var(--medium) , var(--light));
}

.navbar {
  background-color: var(--dark);
  color: var(--dark);
}

.navbar ul {
  padding: 0;
  list-style: none;
}

.navbar li {
  display: inline;
}

.navbar li:hover {
  transform: scale(1, 2);
}

.navbar a {
  color: var(--light);
  text-decoration: none;
  font-family: 'Philosopher', sans-serif;
  font-size: 20px;
  font-weight: bolder;
  padding: 10px 40px;
  text-transform: uppercase;
  cursor: pointer;
}

.navbar a:hover{
  color: var(--bright);
  text-shadow: 1px 1px 3px white;
  
}

.container{
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
  padding: 10px;
}

.title{
  font-family: 'Philosopher', sans-serif;;
  color: var(--bright);
  margin: 20px;
  text-align: center;
  font-size: 60px;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--bright);
}

#profile-pic {
  width: auto;
  height: 400px;
  margin: 20px 20px 40px 20px;
  box-shadow: 0px 0px 35px -2px var(--light);
  transition: 200ms ease-in-out;
}

.image {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}
.image :hover{
  border-radius: 50%;
  transition: 200ms ease;
}

.skills ul{
  padding: 0 20px;
}
.skills li{
  display: inline;
}
.skill-images {
  margin: 20px 20px 40px 20px;
  border-radius: 25%;
  padding: 10 10px;
  height: 100px;
  width: 120px;
  object-fit: contain;
  background-color: white;
  box-shadow: 0px 0px 35px -2px var(--light);
  transition: 200ms ease-in-out;
}

.project-container{
  height: auto;
  width: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
}

.project{
  justify-content: center;
  width: 100%;
  padding: 10px;
}

.project-info{
  font-family: 'Philosopher', sans-serif;
  font-size: 20px;
}

.contact-container{
  margin: auto;
  overflow: auto;
  min-height: 100vh;
  width: 90%;
  height: auto;
}
.contact-box{
  margin: 50px;
  overflow: hidden;
  width: auto;
  border: 1px solid var(--bright);
  text-align: center;
  box-shadow: 20px 20px 10px var(--dark);
}

.contact-info {
  color: var(--bright);
  font-family: 'Philosopher', sans-serif;
  font-size: 25px;
  padding: 10px;
  margin: 20px 20px;
  line-height: 2;
}

#email {
  color: var(--bright);
  text-decoration: none;
}
#email:hover {
  color: limegreen;
  text-shadow: 1px 1px 3px limegreen;
}

#github-icon {
  color: var(--bright);
}
#github-icon:hover {
  color: black;
}

#linkedin-icon {
  color: var(--bright);
}
#linkedin-icon:hover {
  color: #0a66c2
}
#email-icon {
  color: var(--bright);
}
#email-icon:hover {
  color: limegreen;
}
#resume-icon {
  color: var(--bright);
}
#resume-icon:hover {
  color: orange;
}


.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Philosopher', sans-serif;
  font-size: 20px;
  text-align: left;
  color: var(--bright);
  background-color: var(--dark);
  margin-top: 5px;
  padding: 15px;
  position: sticky;
  width: 100%;
  border-top: var(--bright) 1px solid;
}
.footer ul {
  padding-left: 10px;
  padding-right: 10px;
}
.footer li{
  padding-left: 10px;
  padding-right: 10px;
  list-style: none;
  text-decoration: none;
  display: inline-block;
  position: relative;
}

code {
  font-family: 'Philosopher', sans-serif;
}

@media screen and (max-width: 767px) {
  .header {
    text-align: center;
  }
  .skill-images {
    width: 35%;
    
  }
  .contact-container {
    width: auto;
  }
  .footer {
    width: auto;
    text-align: center;
    flex-direction: column-reverse;
  }

}
@media screen and (min-width: 768px) and (max-width:1023px) {
  .contact-box {
    justify-content: center;
  }   
}

@media screen and (min-width: 1024px) {

}